body {
  text-align:center;
  font-family: Roboto;
  background-color: black;
  background-image: url('images/YouiHalloween.jpg');
  width: 100%;
  background-size: cover;
  background-position: center;
  text-shadow: 1px 1px black;
} 

h1,h2,h3 {
  color:#ffffff;
  margin-top:0px;
  border: black;
}

#individual {
  margin-top: 500px;
  margin-bottom: 200px;
}
img {
  box-shadow: 1px 0px 10px 0px rgba(0,0,0,0.2);
  padding: 2px;
  margin: 10px;
  margin-bottom: 3px;
}

.costume {
  display:inline-block;
}

.costume img {
  height:400px;
  border-radius: 10px;
  box-shadow: 1px 0px 10px 0px rgba(0,0,0,0.2);
  padding: 2px;
  margin: 10px;
}